@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.img {
    width: 100px;
    height: 100px;
}

h1 {
    color: brown;
    font-family: 'Lilita One', cursive;
}

.BG {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}

.BGbody {
    background-color: beige;
}

.truncate {
    max-width: 600px;
    min-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

